{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/style2.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish:wght@400;500;600;700&display=swap');
    </style>
    <title>{% block title %}{% endblock title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% include "nav.html" %}
    <main>
        <div>
            <section>
                {% block content %}
                {% endblock content %}
            </section>
            <aside>
                {% block pages %}{% endblock pages %}
                {% block ads %}
                    <div>
                        <h3>ADS</h3>
                        <ul>
                            <li><a href=""><img src="""></a></li>
                            <li><a href=""><img src=""></a></li>
                            <li><a href=""><img src=""></a></li>
                        </ul>
                    </div>
                {% endblock ads %}
            </aside>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>